@model IQueryable<Product>

@section Footer {
	<div>
		Only For Index Footer
	</div>
}

<div class="row my-3">
	<div class="col-md-3">
		@await Component.InvokeAsync(name: "CategoriesMenu")
	</div>

	<div class="col-md-9">
		<div class="row">
			@foreach (Product product in Model)
			{
				<partial name="_ProductCard" model="@product" />
			}
		</div>
	</div>
</div>