@page "/iletisim"

<div class="text-center border rounded my-5">
	<div class="display-6">
		Contact
	</div>

	<div class="lead">

		<div class="my-3">
			<i class="fa fa-phone text-primary"></i>
			<p>Alo muhittin abi</p>
		</div>

		<div>
			<i class="fa-solid fa-location-dot text-primary"></i>
			<p>Vaşinkton virjinya</p>
		</div>

		<div>
			<i class="fa fa-envelope text-primary"></i>
			<p>muhittin@store.com</p>
		</div>
	</div>
</div>